[submodule "simple-storage/lib/foundry-devops"]
	path = simple-storage/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "app/foundry-lottery/lib/forge-std"]
	path = app/foundry-lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "app/foundry-lottery/lib/chainlink-brownie-contracts"]
	path = app/foundry-lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "app/foundry-lottery/lib/solmate"]
	path = app/foundry-lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "app/foundry-lottery/lib/foundry-devops"]
	path = app/foundry-lottery/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "app/test/lib/forge-std"]
	path = app/test/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "app/erc20/lib/forge-std"]
	path = app/erc20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "app/erc20/lib/openzeppelin-contracts"]
	path = app/erc20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "app/erc721/lib/forge-std"]
	path = app/erc721/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
