[submodule "simple-storage/lib/foundry-devops"]
	path = simple-storage/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "app/foundry-lottery/lib/forge-std"]
	path = app/foundry-lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "app/foundry-lottery/lib/chainlink-brownie-contracts"]
	path = app/foundry-lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
